<div class="container"> 
	<%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder, :separator => "&raquo;" %>
	<div class="well well-lg center" >
		<h3><span class="label label-default">Novo</span> Usuário</h3>
		<%= render 'form' %>
	</div>
</div>