<div class="container"> 
  <div class="well well-lg center" >
    <h3><span class="label label-default">Lista</span> Pesquisa interativa</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
       
      </tbody>
    </table>
  </div>
</div>